<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>게시판</title>

  <style>

    .titleMa {
      margin: 0;
      padding: 0;
    }
    .left {
      margin-left: 1em;
    }

    .titleLeft{
      margin-left: 0.3em;
    }

    .right{
      margin-right: 1em;
    }

    hr {
      margin-top: 5;
      margin-bottom: 20;
    }

    .hrfrom{
      margin-top: 3em;
      margin-bottom: 3em;
    }

    .jua-regular {
      font-family: "Jua", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 3rem;
    }

    .dongle-regular {
      font-family: "Dongle", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 3rem;
    }

    .card-img-top {
      max-width: 500px; /* 이미지파일 크기 */
      height: 500px;
    }

    .like-text {
      font-weight: bold;
      color: #0a53be;
      font-size: 16px;
    }

    .like-box {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
    }

    .like-box button {
      background: none;
      border: none;
      cursor: pointer;
    }

    .like-box svg {
      margin-right: 10px;
    }

    .header-text {
      font-weight: bold;
    }

    .btn-clicked {
      background-color: lightcyan;
    }

    .btn-modify {display:inline-block;}
    .btn-modify:after {display: inline-block;
      content: "\00d7"; font-size:20px; margin-left:5px;}

  </style>
</head>

<div layout:fragment="content">
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          게시판
        </div>
        <div class="card-body">


          <hr/>
          <div class="titleMa">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap" rel="stylesheet">
            <p class="jua-regular dongle-regular titleMa titleLeft" th:text="${dto.title}"></p>

            <div class="d-flex align-items-center titleMa left">
              <span th:text="${#temporals.format(dto.modDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
              <span class="mx-2">|</span>
              <span th:text="${dto.writer}"></span>
            </div>

          </div>
          <hr/>
          <div th:if="${dto.fileNames != null && dto.fileNames.size() > 0}">
            <div class="mb-3" th:each="fileName: ${dto.fileNames}">
              <img th:src="|/view/${fileName}|" class="img-fluid">
            </div>
          </div>
          <div th:text="${dto.content}" class="mb-3 left"></div>

          <hr class="hrfrom"/>

          <div class="my-4" th:with="user=${#authentication.principal}"><!-- th:with 변수 선언 -->
            <div class="d-flex justify-content-between">

              <div class="like-box">
                <form th:action="@{/board/like}" method="post" class="d-inline-block">
                  <input type="hidden" name="bno" th:value="${dto.bno}" />
                  <input type="hidden" name="member_mid" th:value="${#authentication.principal.username}" />
                  <button type="submit" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                      <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                    </svg>
                  </button>
                </form>
                <div class="ml-2 d-inline-block">
                  <span class="like-text">개추 :</span> <span class="like-count" th:text="${#vars.likes}"></span>
                </div>
              </div>


              <div>
                <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">
                  <button type="button" class="btn btn-primary">게시판</button>
                </a>
                <a th:if="${user != null && user.username == dto.writer}"
                   th:href="|@{/board/modify(bno=${dto.bno})}&${link}|" class="text-decoration-none">
                  <button type="button" class="btn btn-secondary">수정</button>
                </a>
              </div>
            </div>
          </div>


        </div><!--end card body-->
      </div><!--end card-->
    </div><!-- end col-->
  </div><!-- end row-->


  <!-- 댓글 처리 영역 만들기...  -->
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="my-4">
        <button class="btn btn-info addReplyBtn">댓글등록</button>
      </div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" style="font-weight: bold">번호</th>
          <th scope="col" style="font-weight: bold">내용</th>
          <th scope="col" style="font-weight: bold">작성자</th>
          <th scope="col" style="font-weight: bold">작성일</th>
          <th scope="col" style="font-weight: bold">수정</th>
        </tr>
        </thead>
        <tbody class="replyList">
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <ul class="pagination replyPaging">
      </ul>
    </div>
  </div>

  <!-- 모달 -->
  <div class="modal registerModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">댓글 작성</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">내용</span>
            <input type="text" class="form-control replyText">
          </div>

          <div class="input-group mb-3" th:with="user=${#authentication.principal}">
            <span class="input-group-text">작성자</span>
            <input type="text" class="form-control replyer" th:value="${user.username}" readonly>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary registerBtn">작성</button>
          <button type="button" class="btn btn-outline-dark closeRegisterBtn">닫기</button>
        </div>

      </div>
    </div>
  </div>

  <!-- modify modal -->

  <div class="modal modifyModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title replyHeader"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">입력 내용</span>
            <input type="text" class="form-control modifyText">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-info modifyBtn">수정하기</button>
          <button type="button" class="btn btn-danger removeBtn">삭제하기</button>
          <button type="button" class="btn btn-outline-dark closeModifyBtn">닫기</button>
        </div>

      </div>
    </div>
  </div>

  <!-- 댓글 수정 모달 -->
  <div class="modal commentModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body" style="text-align: center">
          <p th:if="${result == 'modified'}">게시글이 성공적으로 수정되었습니다.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>


  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/reply.js"></script>

</div>

<script layout:fragment="script" th:inline="javascript">

  const currentUser = [[${#authentication.principal.username}]]

  // 댓글 목록 처리...
  const bno = [[${dto.bno}]]

  const replyList = document.querySelector('.replyList')      // 댓글 목록 DOM
  const replyPaging = document.querySelector('.replyPaging')  // 댓글 페이지 목록 DOM

  function printList(dtoList) {
    let str = '';

    if(dtoList && dtoList.length > 0) {
      for (const dto of dtoList) {
        str += `<tr class="replyItem">
          <td class="col-1">${dto.rno}번</td>
          <td class="col-4" data-rno="${dto.rno}">${dto.replyText}</td>
          <td class="col-2">${dto.replyer}</td>
          <td class="col-2">${dto.regDate}</td>
          <td class="col-1">
            <button type="button" class="btn btn-primary" data-rno="${dto.rno}">수정</button>
          </td>
        </tr>`
      }
    }
    replyList.innerHTML = str
  }

  function printPages(data) {   //댓글 페이지 목록 출력

    //pagination
    let pageStr = '';

    //이전 버튼
    if(data.prev) {
      pageStr += `<li class="page-item">
                    <a class="page-link" data-page="${data.start - 1}">PREV</a>
                 </li>`
    }

    //페이지 번호...
    for (let i = data.start; i <= data.end; i++ ){
      pageStr += `<li class="page-item ${i == data.page? "active":""}">
                    <a class="page-link" data-page="${i}">${i}</a>
                </li>`
    }

    // 다음 버튼
    if(data.next) {
      pageStr += `<li class="page-item">
                    <a class="page-link" data-page="${data.end + 1}">NEXT</a>
                 </li>`
    }
    replyPaging.innerHTML = pageStr
  }

  function printReplies(page, size, goLast) {
    // console.log("printReplies : "+bno, page, size)
    getList({bno, page, size, goLast}).then(
            data => {
              // console.log("total : "+data.total)
              printList(data.dtoList)  //목록 처리
              printPages(data)         //페이지 처리
              // console.log(data)
            }
    ).catch(e => {
      console.log(e)
    })
  }
  //함수 호출
  printReplies(1,10,true)

  //댓글 등록
  const registerModal = new bootstrap.Modal(document.querySelector(".registerModal"))

  //registerModal
  const registerBtn = document.querySelector(".registerBtn")
  const replyText = document.querySelector(".replyText")
  const replyer = document.querySelector(".replyer")
  const closeRegisterBtn = document.querySelector(".closeRegisterBtn")

  // ADD REPLY 버튼클릭시 모달 창 띄우고 닫기
  document.querySelector(".addReplyBtn").addEventListener("click", function (e){
    registerModal.show()
  }, false)

  closeRegisterBtn.addEventListener("click", function (e){
    registerModal.hide()
  }, false)


  registerBtn.addEventListener("click", function (e){
    const replyObj = {
      bno:bno,
      replyText:replyText.value,
      replyer:currentUser
    }

    addReply(replyObj).then(result => {
      alert('등록이 완료되었습니다.')
      registerModal.hide()
      replyText.value = ''
      replyer.value = currentUser
      printReplies(1,10, true) // 댓글목록갱신
    }).catch(e => {
      alert("등록을 실패하였습니다.")
    })
  }, false)

  // 페이지 번호 클릭시 이동 처리...
  let page = 1
  let size = 10

  replyPaging.addEventListener("click", function (e) {  //click function 을 통해 번호 이동이 가능해짐

    e.preventDefault()
    e.stopPropagation()

    const target = e.target

    if(!target || target.tagName != 'A') {
      return
    }

    const pageNum = target.getAttribute("data-page")
    page = pageNum
    printReplies(page, size)
  }, false)

  // modifyModal
  const modifyModal = new bootstrap.Modal(document.querySelector(".modifyModal"))

  const replyHeader = document.querySelector(".replyHeader")
  const modifyText = document.querySelector(".modifyText")
  const modifyBtn = document.querySelector(".modifyBtn")
  const removeBtn = document.querySelector(".removeBtn")
  const closeModifyBtn = document.querySelector(".closeModifyBtn")

  let hasAuth = false

  // 댓글 클릭시 수정
  replyList.addEventListener("click", function (e) {

    e.preventDefault()
    e.stopPropagation()

    const target = e.target

    if(!target || target.tagName != 'BUTTON'){
      return
    }

    const rno = target.getAttribute("data-rno")

    if(!rno){
      return
    }

    // 댓글 내용 모달창 띄우기
    getReply(rno).then(reply => {
      console.log(reply)
      replyHeader.innerHTML = reply.rno
      modifyText.value = reply.replyText
      modifyModal.show()

      hasAuth = currentUser === reply.replyer

    }).catch(e => alert('error'))
  }, false)

  // 댓글 수정 후 출력 화면에 대한
  modifyBtn.addEventListener("click", function (e) {

    if(!hasAuth){
      alert("작성자만 수정이 가능합니다.")
      modifyModal.hide()
      return
    }

    const replyObj = {
      bno:bno,
      rno:replyHeader.innerHTML,
      replyText:modifyText.value
    }

    // 수정됨을 알리는 창
    modifyReply(replyObj).then(result => {
      alert('댓글이 수정되었습니다.')
      replyText.value = ''
      modifyModal.hide()
      printReplies(page, size)

    }).catch(e =>
            console.log(e)
    )
  },false)


  closeModifyBtn.addEventListener("click", function (e) {
    modifyModal.hide()
  }, false)

  removeBtn.addEventListener("click", function (e) {
    removeReply(replyHeader.innerHTML).then(result => {
      //result에 값이 있는 경우 : AccessDenied 오류가 발생하여
      // CustomSecurityConfig에서 등록한 Custom403Handler로 들어가게되고
      // memberController login메서드로 error param에 값을 실어서 호출하고 error page(view)를 리턴하는데
      // 현재부분에서 error 페이지를 리다이렉팅 하지못하는 문제가 있으나,
      // result를 출력했을 때 html 소스코드가 찍혀 현재 html을 찍힌 코드로 변경처리해줌
      if(result !== "" ){
        alert("관리자 계정만 삭제가 가능합니다.")
        modifyModal.hide()
        document.open();
        document.write(result);
      }else {
        alert("삭제되었습니다.")
        replyText.value =''
        modifyModal.hide()
        page = 1
        printReplies(page, size)
      }
    }).catch(e => {
      console.log(e)
    })
  },false)

  document.querySelectorAll('.modifyModayBtn').forEach(button => {
    button.addEventListener('click', function () {
      button.classList.toggle('btn-clicked')
    })
  })

  //게시글 수정 모달
  const result = [[${result}]];
  const modal = new bootstrap.Modal(document.querySelector(".commentModal"));

  if (result) {
    modal.show();
  }

</script>

</html>