<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <title>Register</title>
</head>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card-header">
                회원가입
            </div>
            <div class="card-body">
                <form id="registerForm" action="/member/join" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">이메일(ID)</span>
                        <input type="email" name="mid" class="form-control" required >
                        <button type="button" class="btn btn-primary email_cert">이메일 인증</button>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">이름</span>
                        <input type="text" name="mname" class="form-control" required >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">닉네임</span>
                        <input type="text" name="mnick" class="form-control" required >

                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">비밀번호</span>
                        <input type="text" name="mpw" class="form-control" required >
                    </div>
                    <!--<div class="input-group mb-3">
                        <span class="input-group-text">이메일</span>
                        <input type="email" name="memail" class="form-control" required >
                    </div>-->
                    <div class="input-group mb-3">
                        <span class="input-group-text">핸드폰 번호</span>
                        <input type="text" name="mpno" class="form-control" required >
                    </div>
                    <div class="input-group mb-3">
                        <span style="color: red"> - 를 제거하고 입력해주세요</span>
                    </div>
                    <div class="my-4">
                        <div class="float-end">
                            <button type="submit" class="btn btn-primary submitBtn">등록</button>
                            <button type="button" class="btn btn-secondary resetBtn">Reset</button>
                            <button type="button" class="btn btn-secondary listBtn">목록</button>
                        </div>
                    </div>
                </form>
            </div><!--end card body-->
        </div><!--end card-->
    </div><!--end col-->
</div>


<script layout:fragment="script" th:inline="javascript">

    // [[${error}]]; 타임리프 문법
    const error = [[${error}]];

    console.log(error);

    // error가 값이 있으면 true임
    // 에러가 있으면서 에러의 이름이 mid인 경우
    if (error && error == 'mid'){
        alert("동일한 ID를 가진 계정이 존재합니다.")
    }

    if (error && error == 'mnick'){
        alert("동일한 닉네임을 가진 계정이 존재합니다.")
    }

    document.querySelector(".listBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        self.location = '/member/mypage'

    }, false)

    document.querySelector(".resetBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        self.location = '/member/join'

    }, false)

    //메일인증
    document.querySelector(".email_cert").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        var form = document.createElement("form");
        form.setAttribute("charset", "UTF-8");
        form.setAttribute("method", "Post");  //Post 방식
        form.setAttribute("action", "/member/mail"); //요청 보낼 주소

        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "text");
        hiddenField.setAttribute("name", "receiver");
        hiddenField.setAttribute("value", "이영근");
        form.appendChild(hiddenField);

        hiddenField1 = document.createElement("input");
        hiddenField1.setAttribute("type", "text");
        hiddenField1.setAttribute("name", "title");
        hiddenField1.setAttribute("value", "안녕하세요 메일보냅니다.");
        form.appendChild(hiddenField1);

        hiddenField2 = document.createElement("input");
        hiddenField2.setAttribute("type", "text");
        hiddenField2.setAttribute("name", "content");
        hiddenField2.setAttribute("value", "내용");
        form.appendChild(hiddenField2);

        document.body.appendChild(form);

        form.submit();

    }, false)

</script>

</html>