<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <title>Mypage</title>
</head>

<div layout:fragment="content">

    <br>
    <br>
    <br>
    <h2 class="welcome" style="text-align: center"> xxx님 반갑습니다. </h2>
    <br>

    <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
        <div class="d-grid gap-2">
            <button class="btn btn-outline-secondary modifyBtn" type="button">회원정보 수정</button>
            <button class="btn btn-primary deleteBtn" type="button">회원탈퇴</button>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">

    const userLogininfoName = [[${#authentication.name}]];

    if (userLogininfoName){
        document.querySelector(".welcome").innerHTML = userLogininfoName + "님 환영합니다.";
    }

    document.querySelector(".modifyBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        self.location = '/member/modify'

    }, false)

    document.querySelector(".deleteBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()


    if(confirm("정말 삭제하시겠습니까?")){
        let form = document.createElement("form");
        form.setAttribute("charset", "UTF-8");
        form.setAttribute("method", "Post");  //Post 방식
        form.setAttribute("action", "/member/remove"); //요청 보낼 주소

        let hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "mid");
        hiddenField.setAttribute("value", userLogininfoName);
        form.appendChild(hiddenField);

        document.body.appendChild(form);
        form.submit();
    }

    }, false)

</script>

</html>